html{height: 100%;}
body{
    
    background: #1a1919;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
input{
    outline: none;
}
#pagina-toda{
    background: #1a1919;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute; 
}
#container-principal{
    background-color: #201f1f;
    margin-top: 7.5%;
    height: 70%;
    width: 70%;
    box-shadow: -1px 1px 15px, 10px 10px 10px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 
}
h1{
    position: absolute;
    font-size: 50px;
    color: #efef51;
}
.input-data{
    color: #efef51;
    background: none;
    border: none;
    border-bottom: 1px solid;
    margin-left: 7px;
    margin-right: 7px;
    height: 30px;
    width: 300px;
    font-size: 15px;
}
.output{
    color: #efef51;
    background: none;
    border: none;
    border-bottom: 1px solid;
    margin-left: 7px;
    margin-right: 7px;
    height: 15px;
    width: 300px;
    font-size: 15px;
}
#data-recebida2{
    height: 17px;
}
.botao{
    background: #1a1919;
    border: none;
    color: yellow;
    border-radius: 9px;
    
}
#dates-container{
    position: absolute;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
}
#date-container1{
    margin-bottom: 100px;
    display: flex;
}
#date-container{display: flex;}
#footer{
    background: #000000;
    height: 15%;
    width: 100%;
    bottom: -85%;
    position: relative;  
}
p{
    color: #ffffff; 
}
a{
    text-decoration: none;
    color: white;
}
@media(max-width: 1344px){
    .output{
        width: 150px;
    }
    .input-data{
        width: 150px;
    }
}
@media(max-width: 1140px){
    h1{
        margin-top: 0%;
    }
}
@media(max-width: 700px){
    #container-principal{
        margin-top: 25%;   
    }
    .output{
        width: 100px;
        font-size: 9px;
        height: 20.1px;
    }
    .input-data{
        width: 100px;
        font-size: 9px;
        }
    @media(max-width: 490px){
        .output{
            width: 200px;
            font-size: 5px;
            height: 20.1px;
        }
        .input-data{
            width: 200px;
            font-size: 9px;
            }
        #date-container{
            display: flex;
            margin-top: 30%;
            flex-direction: column;
        }
        #date-container1{
            display: flex;
            margin-bottom: 25%;
            flex-direction: column;
        }
        h1{
            font-size: 40px;
        }
    }
}